$black:#000;
$white:#fff;
$green:#86c878;
$light-blue:#78c8c0;
$nav-blue:#78a1c8;;
$red:#e11b1b;

$light-gray-1:#f5f5f5; //table size rows
$light-gray-2:#cdcdcd; // input border
$dark-black :#050203; // heading color

$btn-border:#71b862;
$text-color:#080407; // color for ordinary text
$footer-text-color:#6b6d6b; // color for footer text
$table-size-tr-bg:#060606;
$hr-bg:#e3e3e3;


// footer bg 
// page nav bg
// page hero bg
$gray:#191c19; 