.page-bar{
    @extend %flex-between;
    background-color: #ffffff;

    a,&__free-delivery{
        color: $black;
        font-size: 14px;
        font-weight: 700;
    }

    &__free-delivery{
        display: none;
        white-space: nowrap;
    
        @media screen and (min-width:700px){
            display: block;
        }
    }

    &__contact{
        @extend %flex-between;
        height: 79px;
        width: 100%;
    
        @media screen and (min-width:700px){
            justify-content: flex-end;
        }
    }
}
