.product-btn, .text, .page-pagination a, .page-aside .side-nav a, .table-description, .form-label, .form-label--light, .card-product-title {
  color: #080407;
  line-height: 23px;
}

.heading-1, .heading-2, .footer-heading {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .heading-1, .heading-2, .footer-heading {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.heading-1, .heading-2 {
  font-family: 'Playfair Display', serif;
  color: #050203;
}

.btn, .product-btn, .page-pagination a, .page-aside .side-nav a, .table-size, .card-info-heading {
  font-weight: 700;
  text-transform: uppercase;
}

.page-hero, .icon-quote {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-phone, .icon-mail {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  line-height: 1.5;
}

.icon-fb, .icon-twitter, .icon-in, .icon-google, .page-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  text-indent: -9999px;
}

.icon-fb, .icon-twitter, .icon-in, .icon-google {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.page-bar, .page-bar--contact, .page-hero--flex-container, .page-footer-bar-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-size, .product-list, .img-wrapper, .green-section, .yt-video, .google-maps {
  margin-left: -30px;
  margin-right: -30px;
  width: calc(100% + 60px);
}

@media screen and (min-width: 600px) {
  .table-size, .product-list, .img-wrapper, .green-section, .yt-video, .google-maps {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, textarea, select, iframe {
  outline: none;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

button, iframe {
  cursor: pointer;
  border: none;
}

textarea {
  resize: none;
}

nav ul, nav ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

body {
  font-family: 'Raleway', sans-serif;
}

.hr {
  height: 1px;
  background-color: #e3e3e3;
}

.center-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.negative-padding {
  padding-left: 15px;
}

.page-content {
  padding-bottom: 100px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .page-content {
    padding-left: 40px;
  }
}

.page-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-padding {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 1400px) {
  .hero-bg-gray {
    height: 555px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: #191c19;
  }
}

.icon-phone {
  background-image: url("../assets/icons/icon-phone.svg");
}

@media screen and (min-width: 700px) {
  .icon-phone {
    margin-right: 25px;
  }
}

.icon-mail {
  background-image: url("../assets/icons/icon-mail.svg");
}

.page-logo {
  background-image: url("../assets/icons/page-logo.svg");
}

.page-footer .page-logo {
  width: 102px;
  height: 38px;
}

@media screen and (min-width: 700px) {
  .page-footer .page-logo {
    width: 136px;
    height: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .page-logo {
    width: 166px;
    height: 62px;
  }
}

.page-hero .page-logo {
  width: 166px;
  height: 62px;
}

.icon-fb {
  background-image: url("../assets/icons/icon-fb.svg");
}

.icon-twitter {
  background-image: url("../assets/icons/icon-twitter.svg");
}

.icon-in {
  background-image: url("../assets/icons/icon-in.svg");
}

.icon-google {
  background-image: url("../assets/icons/icon-google.svg");
}

.icon-google {
  height: 20px;
  width: 20px;
}

.bars {
  width: 54px;
  height: 54px;
  background-color: #86c878;
  position: relative;
}

.bars-line {
  width: 50%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.bars-line::before, .bars-line::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.bars-line::after {
  top: 10px;
}

.bars-line::before {
  bottom: 10px;
}

@media screen and (min-width: 700px) {
  .bars {
    display: none;
  }
}

.btn-group {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-hero .btn-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form .btn-group {
  margin-top: 35px;
}

.products-page-content .btn-group {
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  margin-right: 20px;
  margin-top: 10px;
  width: 250px;
  height: 70px;
  font-size: 16px;
  color: #86c878;
  background-color: transparent;
  border: 3px solid #71b862;
  border-radius: 35px;
}

.btn:hover {
  background-color: #86c878;
  color: #fff;
}

.page-hero .btn {
  background-color: #86c878;
  color: #fff;
}

.contact-form .btn:first-child {
  display: none;
}

@media screen and (min-width: 700px) {
  .contact-form .btn:first-child {
    display: block;
  }
}

.product-btn {
  width: 97px;
  height: 53px;
  display: block;
  border: 2px solid #e6e6e6;
  background-color: transparent;
  text-align: center;
  line-height: 49px;
  font-family: Montserrat;
  font-size: 14px;
}

.product-btn:hover {
  border-color: #86c878;
}

.product-btn:first-child {
  width: 123px;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

.product-btn:last-child {
  width: 123px;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}

.heading-1 {
  font-size: 40px;
}

@media screen and (min-width: 700px) {
  .heading-1 {
    font-size: 60px;
  }
}

.heading-2 {
  font-size: 24px;
}

@media screen and (min-width: 700px) {
  .heading-2 {
    font-size: 30px;
  }
}

.heading-light {
  color: #050203;
  font-size: 20px;
  line-height: 90px;
}

.text {
  max-width: 800px;
}

.text p {
  margin-top: 30px;
}

.text p:first-child {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.text-green {
  color: #86c878;
}

.text-red {
  color: #e11b1b;
}

.text-indent {
  text-indent: -9999px;
}

.form-control {
  margin-top: 9px;
  padding: 0 15px;
  max-width: 410px;
  width: 100%;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #cdcdcd;
  background-color: transparent;
  font-size: 14px;
  color: #2a2728;
}

.form-control:placeholder-shown {
  color: #7a7a7a;
}

@media screen and (min-width: 700px) {
  .form-control {
    margin-top: 0;
  }
}

.area-control {
  padding: 15px;
  resize: none;
  height: 205px;
}

.checkbox-styled, .radio-styled {
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid #cdcdcd;
  background-color: transparent;
  vertical-align: middle;
}

.checkbox-styled::after, .radio-styled::after {
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #86c878;
}

.radio-styled {
  border-radius: 50%;
}

.radio-styled::after {
  border-radius: 50%;
}

input[type=checkbox]:checked + label .checkbox-styled::after {
  display: block;
}

input[type=radio]:checked + label .radio-styled::after {
  display: block;
}

.page-pagination {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-pagination a {
  width: 40px;
  height: 40px;
  border: 2px solid #e6e6e6;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-pagination a:hover {
  border-color: #86c878;
}

.page-pagination a:first-child {
  margin-right: 30px;
}

.page-pagination a:last-child {
  margin-left: 30px;
}

.page-bar {
  background-color: #ffffff;
}

.page-bar a, .page-bar .free-delivery {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.free-delivery {
  display: none;
  white-space: nowrap;
}

@media screen and (min-width: 700px) {
  .free-delivery {
    display: block;
  }
}

.page-bar--contact {
  height: 79px;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .page-bar--contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.page-hero {
  padding: 30px 0 100px;
  background-image: url("../assets/page-hero-img.png");
}

.page-hero--content {
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.page-hero--title {
  font-family: "Playfair Display";
  font-size: 48px;
}

@media screen and (min-width: 550px) {
  .page-hero--title {
    font-size: 65px;
  }
}

@media screen and (min-width: 900px) {
  .page-hero--title {
    font-size: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .page-hero--title {
    font-size: 100px;
  }
}

.page-hero--subtitle {
  display: none;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
}

@media screen and (min-width: 700px) {
  .page-hero--subtitle {
    display: block;
  }
}

.page-aside {
  display: none;
  width: 26%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-right: 1px solid #e3e3e3;
}

.page-aside .side-nav {
  width: 90%;
  margin-top: 50px;
}

.page-aside .side-nav a {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #e3e3e3;
  font-size: 16px;
}

.page-aside .side-nav a:last-child {
  border: none;
}

.page-aside .side-nav a:hover {
  color: #86c878;
}

@media screen and (min-width: 1200px) {
  .page-aside .side-nav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  .page-aside {
    display: block;
  }
}

.page-footer {
  background-color: #191c19;
}

.page-footer--flex-container {
  padding: 30px 0  40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 850px;
}

.footer-col {
  width: 50%;
  max-width: 160px;
}

.footer-heading {
  font-size: 18px;
  color: #86c878;
}

.footer-text a {
  display: block;
  color: #6b6d6b;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 550px) {
  .footer-text a {
    font-size: 15px;
  }
}

.page-footer-bar {
  padding: 25px;
  border-top: 1px solid #303430;
}

.page-footer-bar-flex-container {
  max-width: 400px;
}

.copyright {
  color: #6b6d6b;
  font-size: 14px;
}

.page-nav {
  position: relative;
}

.navbar-nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #191c19;
}

@media screen and (min-width: 700px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
  }
}

.dropdown-toggler a {
  background: url("../assets/icons/icon-dropdown-arrow.svg") right 25px center no-repeat;
}

.dropdown-toggler {
  position: relative;
}

.dropdown-toggler:hover .dropdown-menu {
  display: block;
}

.nav-item {
  white-space: nowrap;
}

.nav-item > a {
  color: #ffffff;
}

.nav-item a {
  padding: 20px 43px;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

.dropdown-menu {
  display: none;
  background-color: #fff;
}

.dropdown-menu a {
  color: #191c19;
}

@media screen and (min-width: 700px) {
  .dropdown-menu {
    position: absolute;
    padding: 30px 43px;
  }
  .dropdown-menu a {
    padding: 0;
    line-height: 2;
  }
}

.table-size {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

.table-size thead {
  color: white;
}

.table-size thead tr {
  background-color: #060606;
}

.table-size tbody {
  color: #080407;
}

.table-size tr {
  height: 50px;
  border-bottom: 1px solid  #c1c1c1;
}

.table-size .table-row-info {
  background-color: #f5f5f5;
  text-align: center;
  border: none;
}

.table-description {
  margin-top: 20px;
  font-size: 10px;
}

.contact-form {
  margin-top: 30px;
}

.inp-error-field {
  width: 100%;
}

.form-field {
  margin-top: 15px;
}

@media screen and (min-width: 700px) {
  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.client-field {
  margin-top: 10px;
}

@media screen and (min-width: 700px) {
  .client-field {
    margin-top: 0;
  }
}

.contact-day-field-wrapper {
  margin-top: 30px;
}

.contact-day-field {
  margin-top: 10px;
  max-width: 300px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.message-field {
  margin-top: 30px;
}

.form-label.required::after {
  content: '*';
}

@media screen and (min-width: 700px) {
  .form-label {
    width: 250px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.form-label--light {
  margin-right: 20px;
  font-size: 16px;
}

.error-field {
  color: #e11b1b;
  font-size: 12px;
  line-height: 2;
}

.card-info {
  margin: 40px auto 0;
  padding: 40px 35px;
  min-height: 190px;
  max-width: 420px;
}

@media screen and (min-width: 700px) {
  .card-info {
    margin: 10px 5px 0 0;
    padding: 50px;
    width: 24%;
    min-width: 270px;
    max-width: 340px;
    height: 410px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.product-list:nth-child(2) .card-info {
  background-color: #86c878;
}

.product-list:nth-child(3) .card-info {
  background-color: #78c8c0;
}

.product-list:nth-child(4) .card-info {
  background-color: #78a1c8;
}

.card-info-heading {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 60px;
}

.card-info-description {
  color: #080407;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.product-list {
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-product {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 420px;
  min-height: 190px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (min-width: 700px) {
  .card-product {
    margin: 10px 0 0;
    width: 25%;
    min-width: 270px;
    max-width: 340px;
    height: 410px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .card-product:hover {
    -webkit-box-shadow: 0 1px 25px rgba(18, 16, 11, 0.16);
            box-shadow: 0 1px 25px rgba(18, 16, 11, 0.16);
  }
}

.card-product-img {
  width: 120px;
  height: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-product-img img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .card-product-img {
    width: 80%;
  }
}

.card-product-content {
  padding-left: 10px;
  font-size: 18px;
}

@media screen and (min-width: 700px) {
  .card-product-content {
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
  }
}

.card-product-title {
  font-size: 18px;
  font-weight: 300;
}

.card-product-price {
  color: #86c878;
  font-weight: 700;
  font-family: Montserrat;
}

@media screen and (min-width: 700px) {
  .card-product-price {
    margin-top: 30px;
  }
}

.card-product-discount-price {
  color: #cecece;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}

.discount {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10%;
  left: 20px;
  background-image: url("../assets/products/discount.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .discount {
    top: 17%;
    left: 50px;
  }
}

.img-wrapper {
  margin-top: 30px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-wrapper img {
  height: 100%;
  width: 50%;
}

@media screen and (min-width: 550px) {
  .img-wrapper {
    height: 230px;
  }
}

@media screen and (min-width: 900px) {
  .img-wrapper {
    height: 300px;
  }
}

.quote-section {
  margin-top: 50px;
  padding: 30px 0 40px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  text-align: center;
}

.quote-section .text {
  margin: 20px auto 0;
}

.icon-quote {
  margin: 0 auto;
  width: 26px;
  height: 26px;
  display: block;
  background-image: url("../assets/icons/quote.svg");
}

.green-section {
  margin-top: 40px;
  padding: 60px 20px;
  background-color: #86c878;
  text-align: center;
}

.green-section .text {
  color: white;
}

@media screen and (min-width: 700px) {
  .green-section {
    padding: 60px 50px;
  }
}

.mt-2 {
  margin-top: 30px;
}

.yt-video {
  margin-top: 40px;
  height: 230px;
}

.yt-video iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 550px) {
  .yt-video {
    height: 300px;
  }
}

@media screen and (min-width: 700px) {
  .yt-video {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .yt-video {
    height: 500px;
  }
}

.question {
  padding: 30px 0;
  border-top: 1px solid #c1c1c1;
}

.question:last-child {
  border-bottom: 1px solid #c1c1c1;
}

.google-maps {
  height: 300px;
}

.google-maps iframe {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .google-maps {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .google-maps {
    height: 500px;
  }
}
/*# sourceMappingURL=main.css.map */