.btn-group{
    margin-top: 10px;
    display: flex;
    
    .page-hero &{
        justify-content: center;
    }
    .contact-form &{
        margin-top: 35px;
    }
    .products-page-content &{
        margin-top: 40px;
        justify-content: center;
    }
}

.btn{
    @extend %text-bold;
    margin-right: 20px;
    margin-top: 10px;
    width: 250px;
    height: 70px;
    
    font-size: 16px;
    color:$green;

    background-color: transparent;
    border: 3px solid #71b862;
    border-radius:35px;
    
    &:hover{
        background-color: $green;
        color:$white;
    }

    .page-hero &{
        background-color: $green;
        color:$white;
    }
    .contact-form &:first-child{
        display: none;
        @media screen and (min-width:700px){
            display: block;
        }
    }
}

.product-btn{
    @extend %text-bold;
    @extend %text;
    width: 97px;
    height: 53px;
    display: block;
    border: 2px solid #e6e6e6;
    background-color: transparent;

    text-align:center;
    line-height: 49px;

    font-family: Montserrat;
    font-size: 14px;

    &:hover{
        border-color:$green;
    }


    &:first-child{
        width: 123px;
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px;
    }
    &:last-child{
        width: 123px;
        border-top-right-radius: 26px;
        border-bottom-right-radius: 26px;
    }

}