.text{
    @extend %text;

    p{
        margin-top: 30px;
        &:first-child{
            margin-top: 0;
        }
    }
}

.text-uppercase{
    text-transform: uppercase;
}

.text-bold{
    font-weight: bold;
}

.text-green{
    color:$green;
}

.text-indent{
    text-indent: -9999px;
}