.text{
    @extend %text;
    max-width: 800px;
    p{
        margin-top: 30px;
        &:first-child{
            margin-top: 0;
        }
    }

    &--uppercase{
        text-transform: uppercase;
    }
    
    &--bold{
        font-weight: bold;
    }
    
    &--green{
        color:$green;
    }
    &--red{
        color:$red;
    }
    
    &--indent{
        text-indent: -9999px;
    }
}

