.page-nav{
    position: relative;
}

.navbar-nav{
    display: none;

    position: absolute;
    top:100%;
    right:0;

    background-color: $gray;

    @media screen and (min-width:700px) {
        display: flex;
        position: initial;
    }
}

.dropdown-toggler a{
    background: getImage('icons/icon-dropdown-arrow.svg') right 25px center no-repeat;
}
.dropdown-toggler{
    position: relative;
    &:hover .dropdown-menu{
        display: block;
    }
}

.nav-item{
    white-space: nowrap;

    &>a{
        color: #ffffff;
    }

    a{
        padding: 20px 43px;        
        display: block;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.dropdown-menu{
    display:none;
    background-color: #fff;
    a{
        color:$gray;
    }
    @media screen and (min-width:700px) {
        position: absolute;
        padding: 30px 43px;
        a{
            padding: 0;
            line-height: 2;
        }
    }
}